html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3vmin;
  font-kerning: normal;
}

@media (min-width: 640px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 960px) {
  html {
    font-size: 16px;
  }
}

h1, h2, h3, ul {
  margin: 0;
}

.header {
  background-color: #ce1126; /* Mexico flag red */
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 1rem;
  font-weight: normal;
  font-size: 1rem;
}

.header__brand {
  font-size: 2.5rem;
}

.nav {
  background-color: #ce1126; /* Mexico flag red */
  color: #ffffff;
  padding: 1rem;
}

.nav__list {
  list-style: none;
  padding-left: 0;
}

.nav__entry {
  display: inline-block;
  margin-right: 1rem;
}

.nav__link {
  color: #ffffff;
}

.campaign {
  margin-top: 2rem;
  padding: 0 1rem;
}

.campaign__header {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.campaign__subtitle {
  font-size: 1.5rem;
}

.campaign__t-shirts {
  display: flex;
  flex-flow: row wrap;
}

.t-shirt {
  display: block;
  flex: 0 0 50%;
  margin-bottom: 3rem;
  text-align: center;
  color: #000000;
}

@media (min-width: 640px) {
  .t-shirt {
    flex-basis: 33%;
  }
}

.t-shirt--title {
  font-size: 1.5rem;
  margin: auto;
}

.t-shirt--title , .t-shirt--thumbnail {
  max-width: 90%;
}

/* color: #006847; /* Mexico flag green */
/* color: #ce1126; /* Mexico flag red */
